doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
            | Simple
    body
        h1#h1(title="Simple" lang="en")
            | Simple
        p#paragraph1.paragraph(lang="en")
            | This is a 
            strong
                | simple
            |  para
            em
                | graph
            | .
        .division
            | This is a division.